@charset "utf-8";
/* Layout Document */
body{
	font-family: sans-serif;
}

.outer{
	text-align: center;
}
.page{
	width: 100%;
	max-width: 1200px;
	display: inline-block;
}

/*ROOM COMPONENTS SECTION*/
.roomcomp_section{
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid #CC0000;
	overflow:auto;
}
.roomcomp_img{
	width: 100%;
	}
.roomcomp_title{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #CC0000;	
}
.roomcomp_content{
	font-size: 15px;
}
.roomcomp_buybutton{
	font-size: 15px;
	font-decoration: underline;
	color: #CC0000;
}
/*HERO SECTION*/
.herosection{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid #CC0000;
	overflow:auto;
}
.hero_img{
	width: 100%;
}
.hero_headline{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #CC0000;
}
.hero_content{
	font-size: 20px;
	font-weight:100;
	text-align: center;
}

/*CATEGORIES*/
.categories_section{
	width: 25%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid;
	overflow:auto;
}
.categories_img{
	width:100%;
	}
.categories_title{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #CC0000;	
}
.categories_button{
	font-size: 15px;
	font-decoration: underline;
	color: #CC0000;
}
/*MORE TOOLS*/
.moretools_section{
	width: 25%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid;
	overflow:auto;
}
.moretools_img{
	width:50%;
	}
.moretools_title{
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	color: #CC0000;	
}

/*Photos*/
.photos_section{
	width: 25%;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid;
	overflow:auto;
}
.photos_img{
	width:100%;
}.photos_content{
	font-size: 15px;
}
.photos_title{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #CC0000;	
}