body{
  margin:0;  
  padding:0;

}

.topofpage{
   padding:20px;
	background-color:#cc0000;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: flex-start;
	height: 100px;
}
a{
  color:white;
  font-size:16px;
  font-weight: bold;
  text-decoration: none;
  margin-right:50px;
}

a:hover {
  text-decoration: underline;  
 }
  
.nav{
  font-family: sans-serif;
   margin-left:10px;
   margin-top:10px;
   text-align: center;
}
.logoimg{
	width: 50px;
}
.logo{
	align-content: flex-start;
	width: 50px;
}
  .search{
	align-content: flex-end;
	width: 50px;
}
	  