@charset "utf-8";
*{
	box-sizing: border-box;
	margin:0px;
}
/* Grid Document */

.container{
	width: 96%;
	margin:auto;
	}

.row {
  position: relative;
  width: 100%;
  
}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
  height:100%;

}


.col-1 {
    width: 8.33%;
    background: rgba(240,240,240,.2);
  }

  .col-2 {
    width: 16.66%;
    background: rgba(240,240,240,.2);
  }

  .col-3 {
    width: 25%;
    background: rgba(240,240,240,.2);   
  }

  .col-4 {
    width: 33.33%;
    background: rgba(240,240,240,.2);
  }

  .col-5 {
    width: 41.67%;
    background: rgba(240,240,240,.2);
  }

  .col-6 {
    width: 50%;
    background: rgba(240,240,240,.2);
  }
  

  .col-7 {
    width: 58.33%;
    background: rgba(240,240,240,.2);
  }

  .col-8 {
    width: 66.67%;
    background: rgba(240,240,240,.2);
  }

  .col-9 {
    width: 75%;
    background: rgba(240,240,240,.2);
  }

  .col-10 {
    width: 83.33%;
    background: rgba(240,240,240,.2);
  }

  .col-11 {
    width: 91.67%;
    background: rgba(240,240,240,.2);
  }

  .col-12 {
    width: 100%;
    background: #CC0000;
  }

